.*.pyc
build
src/*.so
eggs
src.mrdeveloper
parts
.*.egg-info
\.installed\.cfg
\.mr\.developer\.cfg
parts/.*
sys/.*
mapnik-.*/.*
build.*/.*
bin/.*
.*\.env
develop-eggs/*
.*\.egg-link
.*\.so

*.egg-info
