[buildout]
extensions=mr.developer buildout.minitagificator
version=versions
parts=
    zopepy
    testme
    omelette
unzip=true
develop=.
sources=sources
sources-dir=${buildout:directory}/src.mrdeveloper
minitage-globalenv=true
auto-checkout= ogcserver

[versions]
mr.developer=1.16

[zopepy]
recipe=minitage.recipe.scripts
find-links=http://dist.repoze.org/bfg/current/
eggs=
    mapnik2 [tests]
    ogcserver
    ipython
interpreter=mypy
scripts=
    ipython
    paster
    nose
    nosetests
env-file=${buildout:directory}/mapnik.env

[sources]
ogcserver = git https://github.com/mapnik/OGCServer.git

[testme]
recipe=zc.recipe.testrunner
find-links=${zopepy:find-links}
eggs=${zopepy:eggs}

[omelette]
recipe=collective.recipe.omelette
eggs=${zopepy:eggs}

